html {
    font-size: 62.5%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
}